/* -----------------------기본------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.special-font {
    font-family: 'SandollSamlipHobbangOutline', cursive;
}


body {
    background-color: #fcfaf2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}




/* -------------------------메인------------------- */

.container {
    background: #ffffff;
    border: 1.5px solid #1a1a1a;
    border-radius: 16px;
    width: 620px;
    height: 400px;
    display: flex;
    box-shadow: 6px 6px 0px #1a1a1a;
    overflow: hidden;
}




/* -------------------------투두------------------- */

.left {
    flex: 1.2;
    border-right: 1.5px dashed #d1c7bd;
    padding: 20px 18px 0 18px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.todoList {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 99px; */
    align-items: center;
    background-color: #d1c7bd;
    margin: -20px -20px 15px -20px;

    /* 마진 병합 */
    padding: 4px 20px;
    border-bottom: 1.5px solid #1a1a1a;
}

.controls > header {
    justify-content: space-between;
}
.todoList > header {
    padding-left: 26px;
    gap: 92px;
}

header h1 {
    font-size: 28px;
    font-weight: 800;
    color: #1a1a1a;
    letter-spacing: 0.5px;
}

#all-delect {
    background-color: #fff0f0;
    color: #e63946;
    font-size: 13px;
    font-weight: 700;
    border: 1.5px solid #1a1a1a;
    border-radius: 6px;
    padding: 4px;
    box-shadow: 2px 2px 0px #1a1a1a;

}

/* 텅 빈 상태 */

.empty-state {
    list-style: none;
    font-size: 60px;
    color: #999;
    border: none;
    background: none;
    box-shadow: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.normal-list {
    list-style: none;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 30px;
    width: 286px;
}

.normal-list::-webkit-scrollbar {
    display: none;
}

.normal-list {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.normal-list li {
    display: flex;
    align-items: center;
    padding: 10px 14px;
    background-color: #ffffff;
    border: 1.5px solid #1a1a1a;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px #1a1a1a;
    width: 98%;
}

.normal-checkbox {
    width: 18px;
    height: 18px;
    border: 1.5px solid #1a1a1a;
    border-radius: 4px;
    margin-right: 12px;
    background-color: white;
    cursor: pointer;
}

.normal-list li span {
    flex: 1;
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;
}

.btn-delete {
    background: none;
    border: none;
    color: #999;
    font-size: 14px;
    cursor: pointer;
}

.btn-delete:hover {
    color: #1a1a1a;
}

.bottom-drawer {
    background-color: #f3ede4;
    border-top: 1.5px solid #1a1a1a;
    margin: 0 -20px;
    padding: 15px 20px 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-input {
    display: flex;
    gap: 8px;
}

.todo-input input {
    flex: 1;
    /* width: 236px; */
    padding: 10px 14px;
    border: 1.5px solid #1a1a1a;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #1a1a1a;
    background-color: #fff;
}

.todo-input input::placeholder {
    color: #a0958a;
}

#todo-add-btn {
    background-color: #ffcc66;
    font-size: 18px;
    font-weight: bold;
    border: 1.5px solid #1a1a1a;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0px #1a1a1a;
}

.todo-footer {
    font-size: 13px;
    font-weight: 700;
    color: #555;
    padding-left: 2px;
}





/* -------------------------타이머-------------------- */

.right {
    flex: 0.8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fffdf9;
}

.timer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fef3c7;
    margin: -20px -15px 15px -15px;
    padding: 10px 15px;
    border-bottom: 1.5px solid #1a1a1a;
}



.timer-header h2 {
    font-size: 18px;
    font-weight: 800;
    color: #1a1a1a;
}



#pop-up {

    background-color: #fff0f0;
    color: #e63946;
    font-size: 13px;
    cursor: pointer;
    font-weight: 700;
    border: 1.5px solid #1a1a1a;
    border-radius: 6px;
    padding: 4px;
    box-shadow: 2px 2px 0px #1a1a1a;
}

/*marquee : 전광판. 글자가 오른쪽에서 왼쪽으로 흘러가는 것*/
.status-marquee-container {
    width: 250px;
    overflow: hidden;
    background-color: transparent; 
    border: 1.5px dashed #2ac1a6; /* 평소 초록색 테두리 */
    color: #2ac1a6;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

/* 평소 움직이는 상태와 글자 색상 */
.status-marquee-content {
    display: flex;
    white-space: nowrap;
    animation: marquee 12s linear infinite; /* 애니메이션 */
}

.status-marquee-content span {
    font-size: 13px;
    font-weight: 600;
    color: #17b890; /* 평소 초록 글씨 */
    margin-right: 60px;
}



/* 1. 딴짓 감지 시 테두리를 빨간색으로 변경 */
.status-marquee-container:has(.marquee-alert) {
    border-color: red; 
    background-color: yellow;
}

/* 2. 경고 상자 */
.marquee-alert {
    display: flex;
    white-space: nowrap;
    /* nowrap : 줄바꿈 없이 무조건 옆으로 길게 한 줄*/
    font-weight: bold;
    width: 100% ;
}

/* 3. 딴짓 감지 시 내부 글자들을 빨간색으로 강제 변경 */
.marquee-alert span {
    font-size: 13px;
    font-weight: 600;
    color: red !important;
    margin-right: 60px;
}



/* 무한루프 */

@keyframes marquee {
    0% {
        transform: translateX(0);
        /* 0% (시작 위치) : translateX(0) 상태로 원래 자리에서 시작*/
    }

    100% {
        transform: translateX(-50%);
        /* 100% (끝 위치) : translateX(-50%) 즉, 전체 텍스트 길이의 딱 절반만큼만 왼쪽으로 */
    }
}


#timer-display {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    color: #1a1a1a;
    margin: 10px 0;
}

.stopwatch {
    display: flex;
    justify-content: center;
    gap: 6px;
}

.stopwatch button {
    flex: 1;
    font-size: 10px;
    font-weight: 700;
    border: 1.5px solid #1a1a1a;
    border-radius: 8px;
    padding: 8px 0;
    box-shadow: 2px 2px 0px #1a1a1a;
    color: #1a1a1a;
}


#start-Btn {
    background-color: #bbf7d0;
}
#stop-Btn {
    background-color: #ffedd5;
}
#reset-Btn {
    background-color: #fee2e2;
}


button {
    cursor: pointer;
    transition: transform 0.05s, box-shadow 0.05s;
}


button:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}




/* -------------------------알림창----------------------- */

.mini-alert-box {
    position: fixed;
    bottom: 20px;
    right: -400px;

    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #ffffff;
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    padding: 12px 16px;
    box-shadow: 4px 4px 0px #1a1a1a;
    z-index: 9999;
    transition: right 0.4s ease;
}

.mini-alert-box.show {
    right: 20px;
}

/* 알림창 글씨 */

.mini-alert-text {
    font-size: 13px;
    font-weight: 700;
    color: #1a1a1a;
}

/* 작은 엑스(×) 닫기 버튼 */

.mini-alert-close-btn {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #a0aec0;
    cursor: pointer;
    padding: 0 4px;
    line-height: 1;
}




/* -------------------------위젯---------------------- */


#timer-widget-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #ffffff;
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    padding: 8px 16px;
    box-shadow: 4px 4px 0px #1a1a1a;
    /* 대시보드 시그니처 그림자 */

    width: fit-content;
    margin: 10px auto;
}

.hidden-widget {
    display: none !important;
}

body.pip-body #timer-widget-bar {
    display: flex !important;
    margin: 0;
}

body.pip-body #pip-display {
    font-size: 20px;
    font-weight: 800;
    color: #1a1a1a;
}

body.pip-body #timer-status {
    font-size: 14px;
    font-weight: 700;
    color: #4a5568;
}

body.pip-body {
    background-color: #fcf9f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}



/* -------------------------메모------------------------- */

.memo {
    width: 100%;
    height: 100%;
    display: flex;
}



#memo-input {
    width: 100%;
    height: 160px;
    padding: 12px;
    background-color: #effaf3;
    border: 1.5px solid #1a1a1a;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #1a1a1a;
    resize: none;
    box-shadow: 4px 4px 0px #1a1a1a;
    outline: none;

    /* 정석 좌상단 진행 방향 */
    text-align: left;
    direction: ltr;

    /* 자동 줄바꿈 */
    white-space: pre-wrap;
    word-break: break-all;

    /* 자동 스크롤 생성 */
    overflow-y: auto;

    outline: none;
}


/* 스크롤바 너비*/

#memo-input::-webkit-scrollbar {
    width: 6px;
}



/* 스크롤바 레일*/

#memo-input::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
    border-right: 2px solid #1a1a1a;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;

}

#memo-input::-webkit-scrollbar-thumb {
    background: #7bad90;
    border-radius: 10px;
    border: 1.5px solid #1a1a1a;
}

.scroll::-webkit-scrollbar {
    display: none;
  }